<section id="main" class="row">
  <article class="sponsorship-info col-xs-12">
    <h1>Do you want to help keep Refresh Rolling?</h1>
    <h2>Resources and support that would help us achieve our goal!</h2>

    <p>It is estimated on average we will have between 30 &ndash; 50 attendees
    per event. When considering your level of sponsorship, it is important
    to keep that number in mind.</p>

    <h3 id="drinks">Beer, Soft-drinks &amp; water</h3>

    <p>People get thirsty at these types of events. Refresh Seattle is not
    intended to be an &lsquo;all night&rsquo; drink fest, but having an assortment of
    popular beers, soft drinks and bottled water is greatly appreciated by
    all attending the events.</p>

    <h3 id="food">Food</h3>

    <p>Since these events are typically held during the evening, right
    after work, people are hungry too. Again, it is not our intention to
    provide a Thanksgiving Feast, but having a variety of either
    sandwiches, pizza and/or snacks is always appreciated by those who
    attend.</p>

    <h3 id="digiSponsors">Digi sponsors</h3>

    <p>The majority of our attendees are into technology. Attendees like
    free/trial versions of the new hotness. Do you have a service and/or
    subscription that you want some help promoting? Be a Refresh Seattle
    Digi Sponsor and we will help distribute free/trial versions of your
    subscription and/or service.</p>

    <h3 id="swag">Swag</h3>

    <p>People LOVE swag. Running a meetup we LOVE to give away swag. We
    want to give away your swag! No swag is unwelcome. T-Shirts, stickers,
    bottles, stickers, hats, USB drives, etc &hellip; Did I mention stickers? Be
    a swag sponsor and we will be happy to distribute as much swag as we
    can.</p>

    <h3 id="goodies">Speaker &lsquo;gifts&rsquo; goodie bag</h3>

    <p>The goal for 2014 is to really get the best speakers that we can.
    This means treating our speakers really well. It would be great if we
    could give each of our speakers not only free food, drinks and as much
    swag that they can carry, but we would love to put a little something
    extra in there for each speaker. Gift cards to something like
    Amazon.com or maybe it&rsquo;s a certificate to a dinner at a local
    restaurant? Use your imagination and feel happy that you are helping
    raise the bar on getting amazing talented people to speak at our
    events.</p>
  </article>
</section>
