<section id="main" class="l-wrapper">
  <div>
    <article class="event-info e2-e7">
      <h1>Thank you for subscribing!</h1>
      <p>We look forward to seeing you at our next event!</p>
    </article>
  </div>
</section>
