<section id="main" class="row">
  <article class="event-info col-xs-12">
    <h1 class="event-title">Oh no!</h1>
    <p class="event-description">It looks like there aren't currently any events. Check back soon!</p>
  </article>
</section>
