<section id="main" class="l-wrapper">
  <article class="event-info e2-e7">
    <h1 class="event-title">Oh no!</h1>
    <p class="event-description">It looks like there aren't currently any events. Check back soon!</p>
  </article>
  <%# TODO: Fix the template so we don't need this hack %>
  <article class="details">
    <div class="details-event-info sv2-sv4">
    </div>

    <div id="map" class="details-map sv5-sv6">
    </div>
  </article>
</section>
